@model IEnumerable<StickaTillsammans.Models.Post>

@{
    ViewData["Title"] = "Inlägg";
}
<div class="container">
    <h2>Läs inlägg om stickning</h2>
    @foreach (var item in Model)
    {
        <a asp-action="DetailsPublic" asp-route-id="@item.Id">
        <h3>@item.Title</h3>
        <p class="center">@item.Category.Name</p>
            <div class="d-flex">
                <img class="img-fluid" src="~/images/@item.ImageName" alt="@item.ImageName">
            </div>
        </a>
        <p>
            @* Kortar ner texten som syns *@
            @if (item.Text.Length > 200)
            {
                @item.Text.Substring(0, 200);
            }
            else
            {
                @item.Text
            }
            ...
        </p>
        <hr/>
    }
</div>