@model IEnumerable<StickaTillsammans.Models.Course>

@{
    ViewData["Title"] = "Kurser Admin";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>
        Här syns alla inlagda kurser. Det går att se alla detaljer för en kurs genom att klicka på kurstiteln.
        Alla kurser går att redigera eller ta bort.<br/>
        Under tabellen går det att skapa en ny kurs. 
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Spots)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Spots)
                    </td>
                    <td>
                        <img height="50px" src="images/@Html.DisplayFor(modelItem => item.ImageName)" alt="@item.ImageName">
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i> Redigera</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i> Ta bort</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-action="Create">Skapa ny kurs <i class="fa-solid fa-plus"></i></a>
</div>